# True for development, False for production
DEBUG=True

# Flask ENV
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=YOUR_SUPER_KEY

# If DEBUG=False (production mode)
DB_ENGINE=mysql
DB_NAME=appseed_db
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=appseed_db_usr
DB_PASS=<STRONG_PASS>



DEBUG=False
FLASK_APP=run.py
FLASK_ENV=development
ASSETS_ROOT=/static/assets
DB_ENGINE=mysql
DB_HOST=13.215.163.132
DB_NAME=python_db
DB_USERNAME=rz1on
DB_PASS=7aamH900
DB_PORT=3306

